body.welcome-page {
    background: inherit;
    overflow: auto;
    background-color: #EFF0F9;
}

.welcome {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 90vh;
    gap: 1.7rem;


    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        flex-grow: 1;

        &__title {
            font-weight: 600;
            font-size: 40px;
        }

        &__subtitle {
            margin: 0;
            color: #47464a;
            font-weight: 400;
            font-size: 14px;
        }
          .create_room {
            border: 1px solid #0f67ad;
            border-radius: 8px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            background-color: #f9f9f9;

            .create_room__controls {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%; // Ensures alignment
                justify-content: center;

                .flex-item{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }

            .create_room__button-new-meeting {
                background-color: #0f67ad;
                color: #fff;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #0e5d9c;
                }

                &.disabled {
                    background-color: #ccc;
                    color: #666;
                    cursor: not-allowed;
                    border: 1px solid #ccc;
                }
            }


            .create_room__input {
                flex: 1;
                padding: 10px 15px;
                border: none;
                font-size: 13px;
                border-radius: 4px;
                background-color: inherit;
                width: 200px; // Adjust width as needed
            }

            .create_room__button-join {
                background-color: inherit;
                color: #2badb2;
                padding: 10px 15px;
                border: none;
                border-radius: 0px;
                font-size: 13px;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #2badb2;
                    color: #fff;
                }

                &.disabled {
                    background-color: #ccc;
                    color: #666;
                    cursor: not-allowed;
                    border: 1px solid #ccc;
                }
            }
        }
    }

}
